<!DOCTYPE html>
<html lang="en">

<head>
    <title>news article scraper</title>
    <meta charset="utf-8">
    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
      <!-- custom CSS & JS -->
    <link rel="stylesheet" href="/stylesheet/custom.css">
    <script src="/javascript/custom.js"></script>

</head>

<body>

    {{{body}}}
    
</body>

</html>